# Simulation params - Other values are read from the snapshot file
FILE_FORMAT = "SWIFT"

# Force resolution in Mpc/h
FORCE_RES = 0.0152
FORCE_RES_PHYS_MAX = 0.00388

# Data input
INBASE = "/cosma8/data/dp004/flamingo/Runs/L1000N1800/HYDRO_FIDUCIAL/snapshots/"
FILENAME = "flamingo_<snap>/flamingo_<snap>.<block>.hdf5
NUM_BLOCKS = 64

SNAPSHOT_NAMES = "../snapshot_names.txt"
OUTBASE = "/snap8/scratch/dp004/dc-foro1/halo_comparison/L1000N1800/HYDRO_FIDUCIAL/Rockstar"

# Parallel Processing
PARALLEL_IO = 1
FORK_READERS_FROM_WRITERS = 1 # Writer tasks will start reader tasks
NUM_WRITERS = 128 # Total number of cpus across all nodes, needs to be multiple of 8
FORK_PROCESSORS_PER_MACHINE = 1 # Split each writer task that is launched into this many processes
PARALLEL_IO_SERVER_INTERFACE = "ib0"

# Output format
OUTPUT_FORMAT = "BINARY"
